# Local Songs directory.
SONGS_DIR=C:\Games\DanceGame\Songs

# Maximum threads for song scanning (-1 = use all available CPU cores)
SCANNER_THREADS=-1

# Enabling SECURE_MODE will clear all mod creds at startup!
SECURE_MODE=false

# Website/bot settings.
BOT_PREFIX=!
SEARCH_COMMAND=search
REQUEST_ID_COMMAND=requestid
MAX_REQUESTS_PER_USER=2
QUEUE_LIMIT=25
ALLOW_WEB_REQUESTS=false
CONTROL_PASSWORD=a-long-random-password
PUBLIC_URL=
STREAMER_VANITY_NAME=Streamer
